<%+ extend('layouts/standart') %>
 
<%+ section('content') %>

<p>
	Администраторы:   
</p>
<p>Написать сообщение администратору
	<!-- Здесь будет блок асинхронной передачи сообщения, продублированный в личном кабинете -->
	<div id="messages"></div>
</p>
<%+ endSection %>
