<%+ extend('layouts/standart') %>
 
<%+ section('content') %>

<p>
	Главная страница на посмотреть, как работает рендер
	Здесь выводится основной текст главной отрендеренной страницы с
	поддержкой автоменю и механизма входа в систему 
</p>
<%+ endSection %>
