<%+ extend('layouts/standart') %>
 
<%+ section('content') %>

<p>
	Здесь можно посмотреть данные вашей учетной записи 
</p>
<pre><%- JSON.stringify(user,'',2) %></pre>
<p>
	Изменить пароль:
	<!-- Панель смены пароля. Работает асинхронно на vue patch /api/user/password -->
	<div id="updatePassword"></div>
</p>
<p>
	Написать сообщение администратору
	<!-- Здесь будет блок асинхронной передачи сообщения, продублированный в личном кабинете -->
	<div id="messages"></div>
<script type="text/javascript" src="/javascripts/lk.js"></script>
<script type="text/javascript" src="/javascripts/messages.js"></script>
</p>
<%+ endSection %>
